.whatToDo {
  background-color: $background-darker;
  padding: 1em;
  border-radius: 0.3rem;

  &-not-done {
    padding: 0.3rem 3rem;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & input {
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid $primary;

    &:focus {
      outline: none;
      box-shadow: 0 2px 3px 0 rgb(44, 43, 43);
    }
  }

  & button {
    font-family: inherit;
    margin-top: 0.3rem;
    padding: 0.5rem 0.9rem;
    color: $primary;
    background-color: $background-darker;
    border: solid 1px $primary;
    text-transform: uppercase;
    font-weight: bold;
  }

  li {
    padding: 0.1em;
    margin-top: 0.3rem;
    list-style-type: none;
  }
}

.checkbox {
  background-color: $background;

  &-todo {
    width: 17px;
    height: 17px;
    cursor: pointer;

    &-checked {
      background-color: lawngreen;
    }
  }
}
